*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator{
    width: 275px;
    margin: 50px auto;
    padding: 15px;
    border: 2px solid #333;
    border-radius: 10px;
    background: #f2f2f2;
}

.display{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 24px;
    padding: 5px;
    background-color: #00aee0;
    color: white;
    border-radius: 5px;

}

.buttons{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 5px;

}
.button:active{
    background: #333;
}

.buttons :nth-child(25){
    grid-row: span 2;
}
.buttons:nth-child(26){
    grid-column: span 2;
}
