$margin-sm: 10px;
$margin-md: 20px;
$margin-lg: 60px;

$font-color: white;
$font-size-sm: 16px;
$font-size-md: 20px;
$font-size-lg: 50px;

$bg-color-header: #183e54;
$bg-color-button: rgb(81, 132, 4);
$bg-color-footer: #0f2a3c;
$bg-color-body: #f1f1f1;
$bg-color-card: white;
$bg-color-card-hover: #e8e8e8;
$border-radius-card: 10px;

$box-shadow-card: 0 0 10px rgba(0, 0, 0, 0.1);
$box-shadow-card-hover: 0 0 15px rgba(0, 0, 0, 0.2);
